@import '../../assets/scss/Animation.scss';

.Place {
    &__Header {
        position: relative;
        background-color: #ccc;
        background-size: cover;
        background-position: center center;
        background-repeat: repeat-x;
        padding: 100px 15px 15px 15px;
        color: #FFF;
        text-align: left;
    
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: -ms-linear-gradient(90deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 75%);
            background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 75%);
            z-index: 0;
        }

        &__Phone {
            span {
                vertical-align: middle;
            }
        }

        h1, h2, span { position: relative; }

        h1 {
            font-size: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 0;
        }

        h2 {
            margin-top: 5px;
            font-size: 14px;
            font-weight: normal;
        }

        a {
            font-size: 12px;
            font-weight: normal;
            color: #FFF;
            vertical-align: middle;
        }


        
    }

    &__Details {
        font-size: 0px;
        white-space: nowrap;

        &__Detail {
            display: inline-block;
            height: 75px;
            vertical-align: middle;

            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;

            &:last-child {
                border-right: 0;
            }

            h3 {
                font-size: 12px;
                color: #999;
                font-weight: normal;
                margin: 5px 10px;
            }

            p {
                font-size: 32px;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 10px 15px;
            }

            &--Price {
                width: 50%;
                p {
                    text-align: center;
                    font-size: 28px;
                }
            }

            &--Rating {
                text-align: center;
                width: 50%;

                span {
                    vertical-align: middle;
                }
            }

        }
    }

    &__Directions {
        padding-bottom: 10px;
        min-height: 166px;

        h3 {
            font-size: 12px;
            color: #999;
            font-weight: normal;
            margin: 5px 10px;
        }
        address {
            display: block;
            padding: 0 10px;
            margin-bottom: 10px;
            font-size: 14px;
            font-style: normal;
        }

        &__Walking {
            padding: 5px 10px;
            font-size: 0px;
            white-space: nowrap;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            &__Info {
                display: inline-block;
                width: 65%;
                font-size: 13px;
                white-space: normal;
                vertical-align: middle;
                p {
                    display: inline;
                }
                span {
                    font-size: 22px;
                    vertical-align: middle;
                }
            }
            &__Action {
                text-align: center;
                display: inline-block;
                width: 35%;
                clear: both;
                vertical-align: middle;
            }

        }

         &__Copyright {
            padding: 5px 10px;
            small {
                white-space: normal;
                font-size: 9px;
                color: #999;
            }
         }
    }
}

.isLoading {
    .Place {
        &__Header {
            h1:before {
                content: " ";
                display: block;
                height: 28px;
                width: 70%;
                @extend .animated-background;
            }
            h2:before {
                content: " ";
                display: block;
                height: 14px;
                width: 50%;
                @extend .animated-background;
            }

            a:before {
                content: " ";
                display: inline-block;
                height: 12px;
                width: 30%;
                @extend .animated-background;
            }
        }

        &__Details {
            &__Detail {
                &--Price {
                    p:before {
                        content: " ";
                        display: inline-block;
                        height: 32px;
                        width: 50%;
                        @extend .animated-background;
                    }
                }
                &--Rating {
                    p:before {
                        content: " ";
                        display: inline-block;
                        height: 32px;
                        width: 50%;
                        @extend .animated-background;
                    }
                }
            }
        }

        &__Directions {
            address:before {
                content: " ";
                display: inline-block;
                height: 14px;
                width: 50%;
                @extend .animated-background;
            }
        }
    }
}

.Place__Directions__Walking {
    &.isLoading {
        .Place__Directions__Walking__Info {
            p:before {
                content: " ";
                display: inline-block;
                height: 18px;
                width: 50%;
                vertical-align: middle;
                @extend .animated-background;
            }
        }
        .Place__Directions__Walking__Action .LinkButton { display: none; }
    }
}

@media screen and (min-width: 991px) {
    .Place {
        &__Header {
            padding: 100px 25px 25px 25px;

            h1 {
                font-size: 34px;
            }
        }

        &__Details{
            &__Detail {
                &--Price {
                    p {
                        text-align: left;
                    }
                }
    
                &--Rating {
                    text-align: left;
                }
            }
        }
    }
}