.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E0E0E0; }
  .Overlay__Wrapper {
    position: absolute;
    text-align: center;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .Overlay span {
    font-size: 120px; }
  .Overlay h1 {
    color: #333;
    font-size: 85%; }
  .Overlay h2 {
    color: #333;
    font-weight: normal;
    font-size: 85%; }
