

.App {
  background: #FFF;
  padding-bottom: 20px;
  &__header {
    text-align: center;
    position: relative;
    padding: 20px 40px;
    background-size: cover;
    background-position: right bottom;
  }

  footer {
    padding: 10px;
    font-size: 10px;
    color: #CCC;
    text-align: center;
  }
}

@media screen and (min-width: 991px) {
  html, body, #root, .App { height: 100%; }
  body { background: #F1F1F1;}
  .App {
    width: 980px;
    margin: 0 auto;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
  }
}